/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic);

// Vertical spacing between blocks of text
$smallMargin: 5px;
$blockMargin: 10px;
$largeMargin: 20px;

// Colors
$black: #000000ff;
$gray: #808080ff;
$byzantium: #8f286fff;
$harvest-gold: #eca400ff;
$persian-green: #1b998bff;
$cerulean: #006992ff;
$white: #ffffffff;

$color-primary: $black !default;
$color-secondary: $white !default;

$color-high-primary: $byzantium !default;
$color-high-secondary: $harvest-gold !default;
$color-high-tertiary: $persian-green !default;

$body-color: $color-primary !default;
$link-color: $color-high-tertiary !default;
$selection-bg: $color-high-tertiary !default;
$code-color: $color-primary !default;

// Background of the presentation
$backgroundColor: $color-secondary !default;

// Typography
$mainFont: "Lato", sans-serif !default;
$mainFontSize: 1rem;
$h1FontSize: 4rem;
$h2FontSize: 3rem;
$h3FontSize: 2rem;
$body-line-height: 1.5;

$headingFont: "League Gothic", sans-serif !default;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;

// Layout
$content-max-width: 900px;

/*-- scss:rules --*/

/* General text styling */
body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $body-line-height;
  color: $body-color;
  background-color: $backgroundColor;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}


/* Headings */
h1,
.reveal h1 {
  font-family: $headingFont;
  color: $color-high-primary;
  font-size: $h1FontSize;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  text-transform: $headingTextTransform;
  font-weight: $headingFontWeight;
  margin-top: $largeMargin;
}

h2,
.reveal h2 {
  font-family: $headingFont;
  color: $color-high-secondary;
  font-size: $h2FontSize;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  text-transform: $headingTextTransform;
  font-weight: $headingFontWeight;
  margin-top: $blockMargin;
}

h3,
.reveal h3 {
  font-family: $headingFont;
  color: $color-high-tertiary;
  font-size: $h3FontSize;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  text-transform: $headingTextTransform;
  font-weight: $headingFontWeight;
  margin-top: $smallMargin;
}

/* Code block */
code {
  background-color: darken($backgroundColor, 20%);
  padding: $smallMargin;
  border-radius: 5px;
}

/* List styling */
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: $blockMargin;
}